body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  padding-top: 0.7em;
  padding-bottom: 0.9em;
  padding-left: 1em;
  padding-right: 1em;
  background: rgb(20, 20, 20);
}
header .container {
  display: flex;
  justify-content: space-between;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: rgb(245, 245, 245);
  width: 45%;
  z-index: 2;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0.75em 2em;
  display: block;
}
nav ul a:hover {
  background: rgb(200, 200, 200);
}
nav svg.close-nav {
  width: 3em;
  float: right;
  margin: 2.5em 2.3em;
}
nav svg.close-nav g.circle {
  stroke: none;
  fill: rgb(50, 50, 50);
}
nav svg.close-nav g.x {
  stroke: rgb(200, 200, 200);
  fill: rgb(200, 200, 200);
}
nav svg.close-nav g.x.round {
  stroke: none;
}
nav svg.close-nav:hover {
  cursor: pointer;
}

nav.open-nav {
  transform: translateX(0);
}

svg.logo {
  width: 9.5em;
}
svg.logo path {
  fill: rgb(190, 190, 255);
  stroke: rgb(0, 85, 200);
}
svg.logo:hover {
  cursor: pointer;
}

svg.ham-nav {
  width: 2.5em;
  margin-right: 0.5em;
}
svg.ham-nav path {
  stroke: rgb(215, 190, 190);
  fill: rgb(215, 190, 190);
}
svg.ham-nav g.circles path {
  stroke: none;
}
svg.ham-nav:hover {
  cursor: pointer;
}

.content {
  padding: 0 1.5em;
}

h1.hero {
  font-family: "Kaushan Script", cursive;
  font-size: 2.3rem;
  text-align: center;
}

section.hero {
  border: 3px groove black;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 1em;
}
section.hero img {
  width: 80%;
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
section.hero p {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0.3em;
  font-size: 1.05rem;
}

footer {
  background: rgb(20, 20, 20);
  text-decoration: none;
  padding-bottom: 0.7em;
}
footer img {
  float: right;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
footer p {
  font-size: 0.75rem;
  color: rgb(200, 200, 200);
  margin-bottom: 0.7em;
  margin-left: 0.9em;
}
footer a {
  text-decoration: none;
  color: rgb(40, 40, 203);
}

.sidebar {
  margin: 0.3em 1em;
}
.sidebar .side-title {
  text-align: center;
  font-size: 1.8rem;
  margin: 0.5em;
  color: rgb(0, 85, 150);
}
.sidebar .side-img {
  height: 60vh;
  display: block;
  margin: 0 auto;
}

.content.about .title {
  color: rgb(80, 80, 80);
}
.content.about .subtitle {
  color: rgb(20, 85, 130);
}

.sidebar.feed {
  display: none;
}

.content.projects {
  margin-bottom: 2em;
}

.feed a.project-link {
  text-decoration: none;
}
.feed section.project {
  border: 2px groove rgb(200, 200, 200);
  border-radius: 5px;
}
.feed section.project img.feed-img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.5em;
  width: 96%;
  height: auto;
}
.feed section.project h3.project-title {
  text-align: center;
  color: rgb(20, 85, 130);
  font-size: 1.7rem;
  padding: 0;
  margin: 0.3em 0;
}
.feed section.project p.project-description {
  color: black;
  line-height: 1.6rem;
  margin-bottom: 0;
}
.feed section.project p.read {
  text-align: right;
  color: rgb(0, 85, 150);
  margin-top: 0;
}
.feed section.project:hover {
  border-style: inset;
  border-width: 5px;
  border-left-style: rgb(140, 140, 140);
  border-top-style: rgb(140, 140, 140);
  border-right-style: rgb(180, 180, 180);
  border-bottom-style: rgb(180, 180, 180);
}

@media screen and (min-width: 680px) {
  h1.hero {
    font-size: 3.2rem;
  }
  header {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media screen and (min-width: 920px) {
  svg.ham-nav {
    width: 0;
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close-nav {
    width: 0;
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav ul a {
    margin-bottom: 0.5em;
    padding: 0.5em 1.5em;
    font-size: 1.4rem;
    color: rgb(200, 200, 200);
  }
  nav ul a:hover {
    text-decoration: underline;
    background: none;
  }
  svg.logo {
    width: 12em;
  }
  section.hero {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    width: 45em;
    margin-right: auto;
    margin-left: auto;
  }
  section.hero img {
    width: 15em;
    margin: 0.5em;
  }
  section.hero p {
    display: block;
    line-height: 2rem;
    margin-top: 3em;
    font-size: 1.2rem;
  }
  .container.about {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    width: 55em;
    margin: 0 auto;
  }
  .container.about .sidebar {
    float: left;
    position: -webkit-sticky;
    position: sticky;
    max-height: calc(95vh - 9em);
    margin-bottom: 2em;
    top: 5vh;
    width: 25em;
    overflow-y: auto;
  }
  .container.about .content.about {
    margin-top: 3em;
  }
  .container.about .content.about p {
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  .container.about .content.about p.about {
    line-height: 2rem;
  }
  .content.projects {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    width: 53em;
    margin-left: auto;
    margin-right: auto;
  }
  .content.projects .feed {
    width: 40em;
  }
  .content.projects .sidebar.feed {
    position: -webkit-sticky;
    position: sticky;
    top: 15vh;
    max-height: calc(95vh - 9em);
    margin-bottom: 2em;
    margin: 0;
    display: initial;
    width: 10em;
  }
  .content.projects .sidebar.feed h3.title {
    padding: 0;
    margin: 0;
    margin-top: -0.5em;
    color: rgb(100, 100, 100);
  }
  .content.projects .sidebar.feed ul.project-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .content.projects .sidebar.feed ul.project-list a.project-link {
    display: block;
    padding: 0.5em 1.5em;
  }
  .content.projects .sidebar.feed ul.project-list a.project-link:hover {
    background: rgb(200, 200, 200);
  }
}
@media screen and (min-width: 1080px) {
  .content.projects {
    width: 62em;
  }
  .content.projects .feed {
    width: 50em;
  }
  .content.projects .feed section.project {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .content.projects .feed section.project img.feed-img {
    width: 20em;
    margin: 1em 0;
    margin-left: 0.5em;
  }
  .content.projects .feed section.project .content h3.project-title {
    font-size: 1.2rem;
    text-align: left;
    margin: 0 1em;
    margin-top: 0.5em;
  }
  .content.projects .sidebar.feed h3.title {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  header .container {
    width: 1200px;
    margin: 0 auto;
  }
  footer .container {
    width: 1200px;
    margin: 0 auto;
  }
  section.hero {
    gap: 0;
  }
  svg.logo {
    width: 15em;
  }
  .container.about {
    width: 70em;
  }
  .container.about .content.about p.about {
    line-height: 2.5rem;
  }
  .content.projects {
    width: 62;
    gap: 13em;
  }
}/*# sourceMappingURL=index.css.map */