body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    padding-top: 0.7em;
    padding-bottom: 0.9em;
    padding-left: 1em;
    padding-right: 1em;
    background: rgb(20, 20, 20);

    .container {
        display: flex;
        justify-content: space-between;
    }
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: rgb(245, 245, 245);
    width: 45%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    ul {
        list-style: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            text-decoration: none;
            font-size: 1.3rem;
            padding: 0.75em 2em;
            display: block;

            &:hover {
                background: rgb(200, 200, 200);
            }
        }
    }

    svg.close-nav {
        width: 3em;
        float: right;
        margin: 2.5em 2.3em;
        g.circle {
            stroke: none;
            fill: rgb(50, 50, 50);
        }
    
        g.x {
            stroke: rgb(200, 200, 200);
            fill: rgb(200, 200, 200);
        }
    
        g.x.round {
            stroke: none;
        }
    
        &:hover {
            cursor: pointer;
        }
    }    
}

nav.open-nav {
    transform: translateX(0);
}

svg.logo {
    width: 9.5em;

    path {
        fill: rgb(190, 190, 255);
        stroke: rgb(0, 85, 200);
    }

    &:hover {
        cursor: pointer;
    }
}


svg.ham-nav {
    width: 2.5em;
    margin-right: 0.5em;

    path {
        stroke: rgb(215, 190, 190);
        fill: rgb(215, 190, 190);
    }

    g.circles {
        path {
            stroke: none;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.content {
    padding: 0 1.5em;
}

h1.hero {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.3rem;
    text-align: center;
}

section.hero {
    border-style: groove;
    padding: 0;
    margin-bottom: 1em;

    img {
        width: 80%;
        display: block;
        margin-top: 0.5em;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-top: 0.3em;
        font-size: 1.05rem;
    }
}

footer {
    background: rgb(20, 20, 20);
    text-decoration: none;
    padding-bottom: 0.7em;
    img {
        float: right;
        margin-top: 0.5em;
        margin-right: 0.5em;
    }

    p {
        font-size: 0.75rem;
        color: rgb(200, 200, 200);
        margin-bottom: 0.7em;
        margin-left: 0.9em;
    }

    a {
        text-decoration: none;
        color: rgb(40, 40, 203);
    }
}

.sidebar {
    margin: 0.3em 1em;

    .side-title {
        text-align: center;
        font-size: 1.8rem;
        margin: 0.5em;
        color: rgb(0, 85, 150);
    }

    .side-img {
        height: 60vh;
        display: block;
        margin: 0 auto;
    }
}

.content.about {
    .title {
        color: rgb(80, 80, 80);
    }

    .subtitle {
        color:rgb(20, 85, 130);
    }
}

@media screen and (min-width: 680px) {
    h1.hero {
        font-size: 3.2rem;
    }

    header {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media screen and (min-width: 920px) {
    svg.ham-nav {
        width: 0;
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close-nav {
            width: 0;
            display: none;
        }

        ul {
            display: flex;
            a {
                margin-bottom: 0.5em;
                padding: 0.5em 1.5em;
                font-size: 1.4rem;
                color: rgb(200, 200, 200);
                
                &:hover {
                    text-decoration: underline;
                    background: none;
                }
            }
        }
    }

    svg.logo {
        width: 12em;
    }

    section.hero {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        width: 45em;
        margin-right: auto;
        margin-left: auto;

        img {
            width: 15em;
            margin: 0.5em;
        }

        p {
            display: block;
            line-height: 2rem;
            margin-top: 3em;
            font-size: 1.2rem;
        }
    }

    .container.about {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        width: 55em;
        margin: 0 auto;

        .sidebar {
            position: sticky;
            top: 5vh;
        }
    }
}

@media screen and (min-width: 1200px) {
    header {
        .container {
            width: 1200px;
            margin: 0 auto;
        }
    }

    footer {
        .container {
            width: 1200px;
            margin: 0 auto;
        }
    }

    section.hero {
        gap: 0;
    }

    svg.logo {
        width: 15em;
    }
}