html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  padding-top: 0.7em;
  padding-bottom: 0.9em;
  padding-left: 1em;
  padding-right: 1em;
  background: rgb(20, 20, 20);
}
header .container {
  display: flex;
  justify-content: space-between;
}

svg.logo {
  width: 9.5em;
}
svg.logo path {
  fill: rgb(190, 190, 255);
  stroke: rgb(0, 85, 200);
}
svg.logo:hover {
  cursor: pointer;
}

footer {
  background: rgb(20, 20, 20);
  text-decoration: none;
  padding: 0.7em 1em;
  margin-top: 1.2em;
}
footer img {
  float: right;
  margin-top: 0.5em;
  margin-right: 1em;
  margin-left: 0.5em;
}
footer p {
  font-size: 0.75rem;
  color: rgb(200, 200, 200);
  margin-bottom: 0.7em;
  margin-left: 1em;
  margin-right: 0.5em;
}
footer a {
  text-decoration: none;
  color: rgb(40, 40, 203);
}
footer a.extern {
  float: right;
  padding-right: 1.8em;
  padding-top: 0.6em;
  padding-bottom: 2em;
  color: #f0f0f0;
  font-size: 1.5rem;
}

.body {
  margin: 0.3em 1em;
}

h1.hero {
  color: rgb(80, 80, 80);
}

h2.subtitle {
  color: rgb(20, 85, 130);
  font-size: 1.7rem;
  margin: 0.5em 0.1em;
}

h3.heading {
  color: rgb(30, 30, 30);
  font-size: 1.25rem;
  margin: 0 1em;
}

p.content {
  color: black;
  margin: 0.7em 0.3em;
  line-height: 1.8rem;
}
p.content span.code {
  background: #c8c8c8;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
}

p.code {
  color: black;
  margin: 0.7em 1em;
  padding: 0.5em;
  line-height: 2rem;
  white-space: pre-wrap;
  background: #c8c8c8;
  border-radius: 5px;
}

.sidebar {
  display: none;
}

.yt-vid {
  aspect-ratio: 560/315;
  width: 90%;
  margin: 0.3em 5%;
}

@media screen and (min-width: 680px) {
  header {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1.2em;
  }
  footer {
    padding: 1em 2em;
  }
  footer img {
    margin-top: 0.7em;
    margin-right: 1.3em;
  }
  footer p {
    margin-left: 1.3em;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 920px) {
  svg.logo {
    width: 12em;
  }
  header {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  footer {
    margin-top: 4.5em;
  }
}
@media screen and (min-width: 1080px) {
  .body {
    width: 70em;
    margin: 0 auto;
  }
  .body .content {
    width: 45em;
    margin: 0 0.5em;
  }
  .body .content h3.heading {
    margin-left: 1.3em;
  }
  .body .sidebar {
    display: initial;
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
    max-height: calc(90vh - 9em);
    margin: 0 2em;
    margin-top: 4em;
    width: 13em;
    overflow-y: auto;
  }
  .body .sidebar h3.side-title {
    color: rgb(35, 35, 35);
    margin-bottom: 0;
    font-size: 1.25rem;
  }
  .body .sidebar ul.contents {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .body .sidebar ul.contents a {
    display: block;
    color: rgb(70, 70, 70);
    padding: 0.5em 0;
  }
  .body .sidebar ul.contents a:hover {
    color: rgb(30, 85, 170);
  }
  .body .sidebar ul.contents a.subtitle {
    margin-left: 0.2em;
  }
  .body .sidebar ul.contents a.heading {
    margin-left: 1.2em;
  }
}
@media screen and (min-width: 1200px) {
  header .container {
    width: 100%;
    margin: 0 auto;
  }
  footer .container {
    width: 100%;
    margin: 0 auto;
  }
  svg.logo {
    width: 15em;
  }
  .body {
    width: 80em;
    margin: 0 auto;
  }
  .body .content {
    width: 50em;
  }
  .body .sidebar {
    width: 15em;
  }
  p.content {
    line-height: 2rem;
  }
}
@media screen and (min-width: 1300px) {
  .body {
    width: 90em;
    margin: 0 auto;
  }
  .body .content {
    width: 60em;
  }
  .body .content h3.heading {
    margin-left: 1.5em;
  }
  .body .sidebar {
    width: 20em;
  }
  .body .sidebar ul.contents h3.side-title {
    font-size: 1.35rem;
  }
  .body .sidebar ul.contents a {
    font-size: 1.05rem;
  }
  .body .sidebar ul.contents a.subtitle {
    margin-left: 0.3em;
  }
  .body .sidebar ul.contents a.heading {
    margin-left: 2em;
  }
  h1.hero {
    font-size: 2.7rem;
  }
  h2.subtitle {
    font-size: 1.84rem;
  }
  h3.heading {
    font-size: 1.35rem;
  }
  p.content {
    line-height: 2.2rem;
    font-size: 1.03rem;
  }
  .vids {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .vids .yt-vid {
    margin-top: 0.5em;
  }
}/*# sourceMappingURL=project.css.map */